<div class="container mt-5">
    <div class="row">
        <div class="card p-0">
            <div class="card-title bg-dark text-white">
                <h3>Crear Empleado</h3>
            </div>
            <div class="card-body">
                <div class="col-lg-6 offset-3">
                    <form action="">
                        <div class="mb-3">
                            <input type="text" name="nombre" id="nombre" class="form-control form-control-lg" placeholder="Ingrese el nombre">
                        </div>
                        <div class="mb-3">
                            <input type="text" name="apellido" id="apellido" class="form-control form-control-lg" placeholder="Ingrese el apellidodocumento">
                        </div>
                        <div class="mb-3">
                            <input type="text" name="documento" id="documento" class="form-control form-control-lg" placeholder="Ingrese el documento">
                        </div>
                        <div class="mb-3">
                            <input type="text" name="salario" id="salario" class="form-control form-control-lg" placeholder="Ingrese el salario">
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-secondary float-start" routerLink="/list-employee"> voler</button>
                            <button type="submit" class="btn btn-primary float-end">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>